    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      margin-top: 10px;
    }

    .card {
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 10px;
	    border-radius: 8px;

    }

    .question {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .answer {
      margin-top: 11px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
	  
    }

    .feedback {
      margin-top: 10px;
    }

    .correct {
      color: green;
    }

    .incorrect {
      color: red;
    }

    .swap-button {
      position: fixed;
      top: 10px;
      right: 10px;
      padding: 10px;
      background-color: #ff4343;
      color: white;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 18px;
      z-index: 999;
    }
    .swap-button2 {
      position: fixed;
      top: 10px;
      right: 50px;
      padding: 10px;
      background-color: #ff4343;
      color: white;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 18px;
      z-index: 999;
    }

    @media (max-width: 480px) {
      body {
        padding: 10px;
        margin-top: 20px;
      }

      .card {
        padding: 10px;
      }
    }